*{
    margin: 0px;
    list-style: none;
    text-decoration: none;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background: #546E7A;
    font-family: 'Roboto', sans-serif;

}