/*Conteudo parte 1   */
.conteudo-parte1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
}
.content{
    width: 380px;
}
.img-premio{
    width: 335px;
    height: auto;
}


/*Conteudo parte 2 */
.conteudo-parte2{
     background: #00C1E3;
     height: auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
     background: #00C1E3;
     height: 499px;
     margin: 0 auto;
     gap: 15px;
     padding: 10px;
}
.image-Beeleads{
    background-image: url('../img/womanradio21.png');
    width: 335px;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: space;
    
}
.video{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 850px){
    .image-Beeleads{
        max-width: 350px;
        height: auto;
    }
}
@media screen and (max-width: 500px){
    .container{
      flex-wrap: wrap;  
      height: auto;
    }
}

