/*Conteudo parte 1   */
.conteudo-parte1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
}
.content{
    width: 380px;
}
.img-premio {
    max-width: 380px;
    height: auto;
}


/*Conteudo parte 2 */
.conteudo-parte2{
     background: #00C1E3;
     height: auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
     background: #00C1E3;
     height: 499px;
     margin: 0 auto;
     gap: 15px;
     padding: 10px;
}
.image-Beeleads img{
    width: 335px;
    height: auto;    
    z-index: 1;
    position: relative;
}
.brush{
    position: static;
}
.brush img{
    width: 8vh;
    position:absolute;
    z-index: 2;
    right: 175vh;
    bottom: -77vh;
    top: 137vh;
    left: 28vh;
    
    
}
.video{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 850px){
    .image-Beeleads img{
        max-width: 300px;
        height: auto;
    }
    .container{
        flex-wrap: wrap;  
        height: auto;
      }
      .conteudo-parte1{
        justify-content: center; 
      }
}
@media screen and (max-width: 460px){
   .img-premio{
    max-width: 280px;
   }
   .content{
       width: 280px;
   }
}

