.footer{
    height: 144px;
    width: auto;
    background-image: url('../img/Rectangle\ 7.png');
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icones a{
    color: white;
}

@media screen and (max-width: 500px) {
   
    .logo-footer img{
        width: 80px;
    }
    
}